@import '../colors';

footer { background: white; clear: both; height: 22vh; padding: 0; text-align: center; width: 100%;

    .social { background: $blue-lightest; color: white; font-family: 'Din', Arial; font-size: 24px; padding: 50px 0; text-transform: uppercase; 
		span.social-links { display: inline-block; width: 67px; }
		img { vertical-align: middle; }
	}
    .locations { background: $blue; color: $blue-light; font-family: 'Lato', sans-serif; font-size: 13px; font-weight: 700; padding: 32px 0; 
    	a { color: $blue-light; padding-left: 40px; text-decoration: none; text-transform: uppercase; }
    	img { vertical-align: middle; }
    }
    .major-links { background: $blue-darker; color: white; font-family: 'Din', Arial; font-size: 16px; padding: 30px 0;
		a { color: white; padding-right: 30px; text-decoration: none; text-transform: uppercase; }
		a+a:before {
		    content: url('../Assets/Images/slash-blue.png');
		    padding-right: 30px;
		    vertical-align: -20%;
		}

		img { vertical-align: middle; }
    }
    .minor-links { background: $blue-darkest; color: $blue-dark; font-family: 'Lato', sans-serif; font-size: 12px; font-weight: 400; padding: 20px 0; 
		a { color: $blue-dark; padding-right: 20px; text-decoration: none; }
    }

}
