<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server" enableviewstate="false">
    <title runat="server">Wind Creek Montgomery</title>
    <asp:Literal runat="server" ID="ltlTags" EnableViewState="false" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="Scripts/global.js"></script>
    <link type="text/css" rel="stylesheet" href="Styles/homepage.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100, 400' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="nav-item">Casino</li>
                <li class="nav-item">Hotel</li>
                <li class="nav-item">Dining</li>
                <li class="nav-item">Entertainment</li>
                <li class="nav-item">Salon</li>
                <li class="nav-item">Groups</li>
            </ul>
        </nav>
    </header>
    <footer>
        <div class="social">Connect with us on <img src="Assets/Icons/Social-White/facebook.png" alt="Facebook"><img src="Assets/Icons/Social-White/twitter.png" alt="Twitter"><img src="Assets/Icons/Social-White/instagram.png" alt="Instagram"><img src="Assets/Icons/Social-White/youtube.png" alt="YouTube"></div>
        <div class="locations"><a href="">Atmore</a><a href="">Wetumpka</a><a href="">Hospitality</a><a href="">Windcreekcasino.com</a></div>
        <div class="major-links"><a href="">Contact</a><a href="">Careers</a><a href="">Donations</a><a href="">Partnerships</a><a href="">Calendar</a></div>
        <div class="minor-links"><a href="">FAQ</a><a href="">Press</a><a href="">Privacy Policy</a><a href="">Responsible Gaming</a><a href="">Win/Loss Statement</a></div>
    </footer>
</body>

</html>
