<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server" enableviewstate="false">
    <title runat="server">Wind Creek Montgomery</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link type="text/css" rel="stylesheet" href="Styles/HTMLTemplates.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="Scripts/global.js"></script>
</head>

<body>
    <header>
        <nav>
            <img src="Assets/Logos/blue-footer.png" alt="Wind Creek Montgomery" class="logo"/>
            <div class="banner">
                <div class="banner-flag">Opening
                    <br/>12.15.2015</div><img src="Assets/Icons/calendar-white.png" class="calendar-icon" width="28px" height="26px">
            </div>
            <ul>
                <li class="nav-item" data-subnav="casino">Casino</li>
                <li class="nav-item" data-subnav="hotel">Hotel</li>
                <li class="nav-item" data-subnav="dining">Dining</li>
                <li class="nav-item" data-subnav="entertainment">Entertainment</li>
                <li class="nav-item" data-subnav="salon">Salon</li>
                <li class="nav-item" data-subnav="groups">Groups</li>
            </ul> 
            <ul id="casino" class="subnav">
                <li class="subnav-item">Promotions</li>
                <li class="subnav-item">Games</li>
                <li class="subnav-item">Rewards</li>
                <li class="subnav-item">New Player Promise</li>
                <li class="subnav-item">WCC Online</li>
            </ul>
            <ul id="hotel" class="subnav">
                <li class="subnav-item">Hotel Subnav</li>
            </ul>
            <ul id="dining" class="subnav">
                <li class="subnav-item">Dining Subnav</li>
            </ul>
            <ul id="entertainment" class="subnav">
                <li class="subnav-item">Entertainment Subnav</li>
            </ul>
            <ul id="salon" class="subnav">
                <li class="subnav-item">Salon Subnav</li>
            </ul>
            <ul id="Groups" class="subnav">
                <li class="subnav-item">Groups Subnav</li>
            </ul>
        </nav>
    </header>
    <main></main>
    <footer>
        <div class="social">Connect with us on <span class="social-links"><img src="Assets/Icons/Social-White/facebook.png" alt="Facebook" width="15px" height="33px"></span><span class="social-links"><img src="Assets/Icons/Social-White/twitter.png" alt="Twitter" width="35px" height="28px"></span><span class="social-links"><img src="Assets/Icons/Social-White/instagram.png" alt="Instagram" width="32px" height="33px"></span><span class="social-links"><img src="Assets/Icons/Social-White/youtube.png" alt="YouTube" width="44px" height="31px"></span></div>
        <div class="locations"><img src="Assets/Logos/blue-footer.png" width="192px" height="38px"><a href="">Atmore</a><a href="">Wetumpka</a><a href="">Hospitality</a><a href="">Windcreekcasino.com</a></div>
        <div class="major-links"><a href="">Contact</a><a href="">Careers</a><a href="">Donations</a><a href="">Partnerships</a><a href="">Calendar</a><img src="Assets/Icons/live-chat-blue.png" width="107px" height="37px"></div>
        <div class="minor-links"><a href="">FAQ</a><a href="">Press</a><a href="">Privacy Policy</a><a href="">Responsible Gaming</a><a href="">Win/Loss Statement</a></div>
    </footer>
</body>

</html>
