<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server" enableviewstate="false">
    <title runat="server">Wind Creek Montgomery</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link type="text/css" rel="stylesheet" href="Styles/HTMLTemplates.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="Scripts/global.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="logo-container"><a href="home.html"><img src="Assets/Logos/blue-header.jpg" alt="Wind Creek Montgomery" class="logo"/></a></div>
            <div class="banner">
                <div class="banner-flag">Opening
                    <br/>12.15.2015</div>
                <div class="calendar-icon"></div>
            </div>
            <ul class="mainnav">
                <li class="nav-item" data-subnav="casino"><a href="casino.html">Casino</a></li>
                <li class="nav-item" data-subnav="hotel"><a href="">Hotel</a></li>
                <li class="nav-item" data-subnav="dining"><a href="">Dining</a></li>
                <li class="nav-item" data-subnav="entertainment"><a href="">Entertainment</a></li>
                <li class="nav-item" data-subnav="salon"><a href="">Salon</a></li>
                <li class="nav-item" data-subnav="groups"><a href="">Groups</a></li>
            </ul> 
            <ul id="casino" class="subnav">
                <li class="subnav-item"><a href="promotions.html">Promotions</a></li>
                <li class="subnav-item"><a href="">Games</a></li>
                <li class="subnav-item"><a href="">Rewards</a></li>
                <li class="subnav-item"><a href="">New Player Promise</a></li>
                <li class="subnav-item"><a href="">WCC Online</a></li>
            </ul>
            <ul id="hotel" class="subnav">
                <li class="subnav-item"><a href="">Hotel Subnav</a></li>
            </ul>
            <ul id="dining" class="subnav">
                <li class="subnav-item"><a href="">Dining Subnav</a></li>
            </ul>
            <ul id="entertainment" class="subnav">
                <li class="subnav-item"><a href="">Entertainment Subnav</a></li>
            </ul>
            <ul id="salon" class="subnav">
                <li class="subnav-item"><a href="">Salon Subnav</a></li>
            </ul>
            <ul id="Groups" class="subnav">
                <li class="subnav-item"><a href="">Groups Subnav</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <div class="page-header">
            <div class="headline-small">We'll hit the right notes</div>
            <div class="headline-medium">While you hit the</div>
            <div class="headline-large">Jackpots</div>
            <div class="divider"></div>
        </div>
        <img class="full-width" src="Assets/Images/fw-casino-floor.jpg"/>
        <div class="bluebg-content">
            <div class="headline-small">The music gives way</div>
            <div class="headline-medium">To our gaming floor</div>
            <p class="text">Where all the lights and sounds of winning greet you as soon as you walk through the door. Your favorite machines are all right here waiting for you, and there's always a new game to
                discover just around the corner. Plus, our rewards program can always take your experience to new heights, because everything gets bettter with our card in your hand.</p>
            <div class="divider"></div>
        </div>
        <div class="fifty-square"
             style="background-image:url(Assets/Images/bg-magazine.jpg);"><div
                class="square-content"><div class="headline-medium" >Games</div><p>More games, more machines and more amenenities</p><div class="button">Details</div></div></div>
        <div class="fifty-square" style="background-image:url(Assets/Images/bg-rewards.png);"><div class="square-content"><div class="headline-medium">Rewards</div><div class="button">Details</div></div></div>
        <div class="fifty-square" style="background-image:url(Assets/Images/bg-promotions.jpg);"><div class="square-content"><div class="headline-medium">Promotions</div><div class="button">Details</div></div></div>
        <div class="fifty-square"
             style="background-image:url(Assets/Images/bg-magazine.jpg);"><div class="square-content"><div class="headline-medium">Wind Creek Rewards Magazine</div><div class="button">Latest Issue</div></div></div>
    </div>
    <footer>
        <div class="social">Connect with us on <span class="social-links"><img src="Assets/Icons/Social-White/facebook.png" alt="Facebook" width="15px" height="33px"></span><span class="social-links"><img src="Assets/Icons/Social-White/twitter.png" alt="Twitter" width="35px" height="28px"></span><span class="social-links"><img src="Assets/Icons/Social-White/instagram.png" alt="Instagram" width="32px" height="33px"></span><span class="social-links"><img src="Assets/Icons/Social-White/youtube.png" alt="YouTube" width="44px" height="31px"></span></div>
        <div class="locations"><img src="Assets/Logos/blue-footer.png" width="192px" height="38px"><a href="">Atmore</a><a href="">Wetumpka</a><a href="">Hospitality</a><a href="">Windcreekcasino.com</a></div>
        <div class="major-links"><a href="">Contact</a><a href="">Careers</a><a href="">Donations</a><a href="">Partnerships</a><a href="">Calendar</a><img src="Assets/Icons/live-chat-blue.png" width="107px" height="37px"></div>
        <div class="minor-links"><a href="">FAQ</a><a href="">Press</a><a href="">Privacy Policy</a><a href="">Responsible Gaming</a><a href="">Win/Loss Statement</a></div>
    </footer>
</body>

</html>
