@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/reset\.scss}line{font-family:\000031}}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0px;
  height: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/reset\.scss}line{font-family:\000039}}
.clearfix {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/reset\.scss}line{font-family:\0000312}}
html[xmlns] .clearfix {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/reset\.scss}line{font-family:\0000315}}
* html .clearfix {
  height: 1%;
}

@font-face {
  font-family: 'Lato Thin';
  font-weight: 100;
}
@font-face {
  font-family: 'Lato Regular';
  font-weight: 400;
}
@font-face {
  font-family: 'Lato Bold';
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\000033}}
header {
  background: #0e122e;
  color: white;
  height: 63px;
  position: fixed;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\000037}}
nav {
  padding: 8px 0 12px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000310}}
nav .logo-container {
  position: relative;
  left: -240px;
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000311}}
nav .logo-container:after {
  content: url("../Assets/slash-blue.png");
  float: left;
  padding-right: 30px;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000312}}
nav .logo-container.show {
  left: 0px;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000313}}
nav .logo {
  float: left;
  margin-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000315}}
nav .banner {
  display: inline;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000316}}
nav .banner .calendar-icon {
  float: left;
  padding-right: 20px;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000317}}
nav .banner .banner-flag {
  background-image: url(../Assets/flag-blue.png);
  background-repeat: no-repeat;
  float: right;
  font-size: 14px;
  height: 47px;
  padding-top: 6px;
  text-align: center;
  width: 139px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000320}}
nav ul.mainnav {
  padding-left: 35px;
  position: relative;
  left: -240px;
  margin: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000321}}
nav ul.mainnav li.nav-item {
  clear: none;
  display: inline;
  font-size: 12px;
  font-weight: 400;
  list-style: none;
  padding-right: 20px;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000322}}
nav ul.mainnav li.nav-item.active {
  color: #5661b1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000325}}
nav ul.mainnav.scroll {
  left: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000327}}
nav ul.subnav {
  background: white;
  clear: both;
  display: none;
  line-height: 13px;
  margin: 0;
  padding: 40px 0;
  position: absolute;
  left: 0;
  top: 63px;
  text-align: center;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000328}}
nav ul.subnav li.subnav-item {
  color: black;
  display: inline;
  font-family: 'Lato';
  font-size: 13px;
  font-weight: 700;
  list-style: none;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000329}}
nav ul.subnav li.subnav-item + li.subnav-item:before {
  content: '';
  padding-right: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Header\.scss}line{font-family:\0000332}}
nav ul.subnav.active {
  display: inline-block !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\000033}}
footer {
  background: white;
  clear: both;
  height: 22vh;
  padding: 0;
  text-align: center;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\000035}}
footer .social {
  background: #7da3fe;
  color: white;
  font-family: 'Din', Arial;
  font-size: 24px;
  padding: 50px 0;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\000036}}
footer .social span.social-links {
  display: inline-block;
  width: 67px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\000037}}
footer .social img {
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\000039}}
footer .locations {
  background: #283278;
  color: #607ecf;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 32px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\0000310}}
footer .locations a {
  color: #607ecf;
  padding-left: 40px;
  text-decoration: none;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\0000311}}
footer .locations img {
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\0000313}}
footer .major-links {
  background: #202861;
  color: white;
  font-family: 'Din', Arial;
  font-size: 16px;
  padding: 30px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\0000314}}
footer .major-links a {
  color: white;
  padding-right: 30px;
  text-decoration: none;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\0000315}}
footer .major-links a + a:before {
  content: url("../Assets/slash-blue.png");
  padding-right: 30px;
  vertical-align: -20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\0000321}}
footer .major-links img {
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\0000323}}
footer .minor-links {
  background: #0e122e;
  color: #5661b1;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/Shared\/Footer\.scss}line{font-family:\0000324}}
footer .minor-links a {
  color: #5661b1;
  padding-right: 20px;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/global\.scss}line{font-family:\000037}}
html, body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/merge\/Documents\/projects\/RedSquare\/templates\/HTMLTemplates\/Styles\/global\.scss}line{font-family:\0000311}}
main {
  background: #ccc;
  min-height: 600px;
}
